.favoritesContent {
    background-color: black;
}


.favoritesItem {
    background-color: gray; 
    text-align: center;
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}